<sly data-sly-use.model = "com.re.wanderlust.core.models.FloatingButtonModel">
    <div class="rideOut-listing-comp__filter-mob-btn-group px-0 d-flex flex-wrap d-md-none position-sticky start-0 end-0 exp-floatingBtn" data-buttonId="${model.bookNowButtonId}"> 
        <div class="button ${model.floatingButtonStyle} w-100">
            <button class="cmp-button border-0 px-2 floatingBtn">
                <span class="cmp-text floatingButtonLabel">${model.titleLabel}</span>
            </button>
        </div>
    </div>
</sly>