<sly data-sly-use.metaProps="com.re.wanderlust.core.models.PagePropertyModel">

    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon16 != ''}" href="${metaProps.favicon16}" sizes="16x16"/>
    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon16 == ''}" href="/content/dam/re-platform-images/favicon/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon32}" href="${metaProps.favicon32}" sizes="32x32"/>
    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon32 == ''}" href="/content/dam/re-platform-images/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon64}" href="${metaProps.favicon64}" sizes="64x64"/>
    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon64 == ''}" href="/content/dam/re-platform-images/favicon/favicon-64x64.png" sizes="64x64"/>
    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon128}" href="${metaProps.favicon128}" sizes="128x128"/>
    <link rel="icon" type="image/png" data-sly-test="${metaProps.favicon128 == ''}" href="/content/dam/re-platform-images/favicon/favicon-128x128.png" sizes="128x128"/>
    <!--fav-icons-apple-touch-->
    <link rel="apple-touch-icon" type="image/png" href="/content/dam/re-platform-images/favicon/favicon-128x128.png" sizes="128x128"/>

    <meta name="description" content="${metaProps.seoDescription}" />
    <meta name="keywords" content="${metaProps.seoKeywords}" />
    <meta name="title" content="${metaProps.seoTitle}" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

    <meta itemprop="keywords" content="${metaProps.seoKeywords}">
    <meta itemprop="description" content="${metaProps.seoDescription}">
    <meta itemprop="image" content="${metaProps.ogImage}">
    <meta itemprop="title" content="${metaProps.seoTitle}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://www.royalenfield.com${metaProps.currentPagePath}">
    <meta name="twitter:title" content="${metaProps.twitterTitle}">
    <meta name="twitter:seoDescription" content="${metaProps.twitterDescription}">
    <meta name="twitter:image:src" content="${metaProps.ogImage}">

<!--    <meta property="og:site_name" content="${page.siteName}" />-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="${metaProps.ogTitle}" />
    <meta property="og:url" content="https://www.royalenfield.com${metaProps.currentPagePath}" />
    <meta property="og:image" content="${metaProps.ogImage}" />
    <meta property="og:description" content="${metaProps.ogDescription}" />

    <sly data-sly-test = "${metaProps.cdpRequired}">
        ${metaProps.customHeadScript @context='unsafe'}
    </sly>
    ${metaProps.customApi @context='unsafe'}

    ${metaProps.headAnalytics @context="unsafe"}
    ${metaProps.customInheritedScript @context="unsafe"}
    ${metaProps.googleOptimizeAnalyticsCdn @context="unsafe"}
    ${metaProps.googleOptimizeAnalytics @context="unsafe"}

    ${metaProps.eventPixelCode @context = 'unsafe'}

<!--    ${page.customMetaTags @context='html'}-->
<!--    ${page.headScript @context = 'unsafe'}-->
</sly>
